.error {
  display: none;
}


body {
  background-color: black;
}




.container  {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 400px;
  height: 500px;
  justify-content: center;
  margin: auto auto;
  padding: 30px;
    
}

input {
  
}

h1 {
  text-align: center;
  padding: 50px;
  
}

button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center; 
    font-size: 16px;
    margin: 25px 3px;
    cursor: pointer;
}

button: hover {
    background-color: #4CAF50;
    color: white;
}


P {
  color: #cccccc;
  text-align: center;
}

a {
  color: #cccccc;
}

a: visited {
   color: green;
}


a: hover {
   color: red;
}


a:active {
  color: yellow;
}
